[Desktop Entry]
Version=1.0
Name=Eclipse IDE
Comment=Eclipse IDE Enterprise Java and Web Development
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Terminal=false
StartupNotify=true
Type=Application
Categories=Development;IDE;
StartupWMClass=Eclipse
