* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
}

#workspaces button.focused {
    background: #8aadf4;
    color: #232634;
}

window#waybar {
    background-color: #232634;
    color: #dce0e8;
}

#tray {
    padding: 0 12px;
}

#custom-gpu-usage {
    padding: 0 12px;
}

#bluetooth {
    padding: 0 12px;
}

#battery {
    padding: 0 12px;
}

#pulseaudio {
    padding: 0 12px;
}

#backlight {
    padding: 0 12px;
}

#custom-updates {
    padding: 0 12px;
}

#network {
    padding: 0 12px;
}

#memory {
    padding: 0 12px;
}

#cpu {
    padding: 0 12px;
}

#custom-launcher {
    padding: 0 12px;
}

#language{
    padding: 0 12px;
}

#clock{
    padding: 0 12px;
}

#temperature{
    padding: 0 12px;
}

#custom-power{
    margin-right: 15px;
    color: #40a02b;
    padding: 0 12px;
}

#custom-delimiter {
    padding: 0 8px;
    color: #8aadf4;
}

menu {
    background: #232634;
}

menuitem {
    background: #232634;
}

menuitem:first-child {
  color: #df8e1d;
}

menuitem:nth-child(2) {
  color: #40a02b;
}

menuitem:last-child {
  color: #d20f39;
}

menuitem:hover {
  background: #626880;
}
